# pip install --no-cache-dir -U openmim 
# mim install mmengine 
# mim install "mmcv>=2.0.1" 
# mim install "mmdet>=3.1.0" 
# mim install "mmpose>=1.1.0" 
# =======MuseTalk===========#
ffmpeg-python
diffusers==0.27.2
accelerate==0.28.0
opencv-python==4.9.0.80
soundfile==0.12.1
transformers==4.39.2
gdown
requests
imageio[ffmpeg]
omegaconf
ffmpeg-python
spaces
moviepy
