torch-ema
ninja
trimesh
opencv-python
tensorboardX
numpy 
pandas
tqdm
matplotlib
PyMCubes==0.1.4
rich
dearpygui
packaging
scipy
scikit-learn

face_alignment
python_speech_features
numba
resampy
pyaudio
soundfile
einops
configargparse

lpips
imageio-ffmpeg
onnxruntime-gpu
facenet_pytorch==2.5.*
librosa
fvcore
iopath

NeRF/freqencoder
NeRF/gridencoder
NeRF/raymarching
NeRF/shencoder